<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Patricia</string>
		<key>lastName</key>
		<string>Beck</string>
		<key>imageName</key>
		<string>Patricia-Beck.jpg</string>
		<key>telefone</key>
		<string>1111-1111</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Halle</string>
		<key>lastName</key>
		<string>Berry</string>
		<key>imageName</key>
		<string>halle-berry.jpg</string>
		<key>telefone</key>
		<string>2222-2222</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Sara</string>
		<key>lastName</key>
		<string>Evans</string>
		<key>imageName</key>
		<string>sara_evans.jpg</string>
		<key>telefone</key>
		<string>3333-3333</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Bill</string>
		<key>lastName</key>
		<string>Gates</string>
		<key>imageName</key>
		<string>bill-gates.jpg</string>
		<key>telefone</key>
		<string>4444-4444</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Steve</string>
		<key>lastName</key>
		<string>Jobs</string>
		<key>imageName</key>
		<string>steve_jobs.jpg</string>
		<key>telefone</key>
		<string>5555-5555</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Mila</string>
		<key>lastName</key>
		<string>Kunis</string>
		<key>imageName</key>
		<string>Mila-Kunis.jpg</string>
		<key>telefone</key>
		<string>6666-6666</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Miranda</string>
		<key>lastName</key>
		<string>Lambert</string>
		<key>imageName</key>
		<string>miranda-lambert.jpg</string>
		<key>telefone</key>
		<string>7777-7777</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Evangeline</string>
		<key>lastName</key>
		<string>Lilly</string>
		<key>imageName</key>
		<string>evangeline-lilly.jpg</string>
		<key>telefone</key>
		<string>8888-8888</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Barack</string>
		<key>lastName</key>
		<string>Obama</string>
		<key>imageName</key>
		<string>Barack-Obama.jpg</string>
		<key>telefone</key>
		<string>9999-9999</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Paisley</string>
		<key>imageName</key>
		<string>Brad-Paisley.jpg</string>
		<key>telefone</key>
		<string>0000-0000</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Pitt</string>
		<key>imageName</key>
		<string>Brad-Pitt.jpg</string>
		<key>telefone</key>
		<string>9843-8734</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Taylor</string>
		<key>lastName</key>
		<string>Swift</string>
		<key>imageName</key>
		<string>taylor-swift.jpg</string>
		<key>telefone</key>
		<string>9384-2342</string>
	</dict>
</array>
</plist>
